.blog-section {
    padding: var(--spacing-xl) 0;
}

.about-section {
    padding: var(--spacing-2xl) 0;
}

.more-post {
    padding-top: var(--spacing-xl);
}

.social-share {
    display: flex;
    gap: var(--spacing-xl);
}

.mdi--share:hover,
.mdi--share-variant:hover {
    transform: scale(1.1);
}

/* Estilos de la barra de progreso */
#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%; /* Será controlado por GSAP */
    height: 5px;
    background-color: var(--color-primary500);
    z-index: 999; /* Mantenerla en la parte superior */
}

.highlight-quote {
    font-size: 1.5rem;
    font-style: italic;
    color: var(--color-primary700);
    margin: 20px 0;
    padding: 10px;
    border-left: 5px solid var(--color-primary400);
    background-color: #f9f9f9;
}




/* BLOG */
/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.img-box {
    background-image: url("../img/design-web-agency-1.webp");
    width: 71rem;
    height: 10rem;
    width: 100%;
    height: auto;
    min-height: 10rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-box {
    /* background-color: var(--color-primary500); */
    color: var(--color-neutral700);
    font-weight: 700;
    padding: 40px 0;
    padding-bottom: 10px;
    text-align: center;
}

.text-small {
    color: var(--color-neutral800);
}

.published span {
    color: var(--color-neutral900);
}

header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

article header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

article time {
    color: #666;
}

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

footer {
    margin-top: 40px;
}

.share-box {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}


#comment-form {
    display: flex;
    flex-direction: column;
}

#comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

#comment-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#comment-form button:hover {
    background-color: #555;
}





/*******************************/
/* BELOW 1200px (Landscape Tablets)*/
/*******************************/
@media (max-width: 75rem) {
    html {
        /* 9px / 16px*/
        font-size: 56.25%;
    }

    .text-9xl {
        font-size: 5.2rem;
        font-weight: 700;
    }

    /* BLOG SECTION */
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-large);
        padding: var(--spacing-medium);
    }
}


/*******************************/
/* BELOW 944px (Tablets)*/
/*******************************/
@media (max-width: 59rem) {
    html {
        /* 8px / 16px = 0.5 */
        font-size: 50%;
    }

    .text-9xl {
        font-size: 4.2rem;
        font-weight: 700;
    }

    .text-6xl {
        font-size: 3.6rem;
    }
    
    .text-4xl {
        font-size: 2rem;
    }

    .text-2xl {
        font-size: 1.6rem;
    }

    .stadistics-about {
        display: grid;
        grid-template-columns: repeat(2, 25rem);
        gap: var(--spacing-large);
        justify-content: center;
    }
    
    .stadistics-numbers {
        width: 25rem;
    }

    /* HEADER */
    .main-nav-list {
        gap: var(--spacing-small);
    }

}

/*******************************/
/* BELOW 644x (Landscape Tablets)*/
/*******************************/
@media (max-width: 40.25rem) {
    .text-4xl {
        font-size: 1.8rem;
    }

    .text-2xl {
        font-size: 1.4rem;
    }

    /* HEADER */
    .main-nav-header {
        display: none;
    }
    
    .sidebar-toggle {
        display: block; 
    }
    
    .logo {
        height: 3.0rem;
    }

    .header {
        padding: var(--spacing-small) var(--spacing-3xl);
        padding-top: var(--spacing-medium);
    }
    
    /* ABOUT SECTION */
    .stadistics-about {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .stadistics-numbers {
        width: 35rem;
    }

    /* BLOG SECTION */
    .blog-container {
        grid-template-columns: 1fr;
    }
}