/*******************************/
/* BELOW 1200px (Landscape Tablets)*/
/*******************************/
@media (max-width: 40rem) {
    html {
        /* 9px / 16px*/
        font-size: 56.25%;
    }

    .flex-hero {
        display: grid;
        grid-template-columns: minmax(1fr, 300px);
    }

    
.hero-img-container {
    max-width: 50%;
    height: auto;
    
}
}