/*******************************/
/* BELOW 1200px (Landscape Tablets)*/
/*******************************/
@media (max-width: 75rem) {
    html {
        /* 9px / 16px*/
        font-size: 56.25%;
    }

    /* HEADER */
    .main-nav-list {
        gap: var(--spacing-large);
    }

    /* HERO-SECTION */
    .grid-hero {
        grid-template-columns: 50rem 1fr;
    }

    .hero-container-text {
        padding: var(--spacing-large) 0;
        padding-left: var(--spacing-xl);
    }

    .text-10xl {
        font-size: 6.2rem;
        font-weight: 700;
    }

    .text-9xl {
        font-size: 5.2rem;
        font-weight: 700;
    }

    /** General button styles **/
    .btn:link,
    .btn:visited {
        font-size: 1.8rem;
    }

    /* ABOUT SECTION */
    /* team */
    .flex-card-about {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }

    /* FAQ SECTION */
    .grid-faq {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: var(--spacing-small);
    }    

    /* PRICING SECTION */
    .pricing-container {
        row-gap: var(--spacing-large);
    }

    /* BLOG SECTION */
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-large);
        padding: var(--spacing-medium);
    }

    /* OUR SERVICE SECTION */
    .services-container-text,
    .services-container-text span {
        font-size: 2rem;
    }

    .title {
        font-size: 2.4rem;
    }

    .sub-title, 
    .phone-heading {
        font-size: 1.6rem;
    }

    .line {
        margin-left: 1.6rem;
    }
}

/*******************************/
/* BELOW 944px (Tablets)*/
/*******************************/
@media (max-width: 59rem) {
    html {
        /* 8px / 16px = 0.5 */
        font-size: 50%;
    }
    
    /* HEADER */
    .main-nav-header {
        display: none;
    }
    
    .sidebar-toggle {
        display: block; 
    }    

    /* HERO-SECTION */
    .grid-hero {
        grid-template-columns: 1fr 1fr;
        padding: var(--spacing-small);
        justify-items: center;
    }

    .hero-section {
        padding-top: var(--spacing-xl);
    }

    .hero-container-text {
        padding: 0;
    }

    .text-10xl {
        font-size: 5.2rem;
        font-weight: 700;
    }

    .text-9xl {
        font-size: 4.2rem;
        font-weight: 700;
    }

    .text-6xl {
        font-size: 3.6rem;
    }
    
    .text-4xl {
        font-size: 2rem;
    }

    .text-2xl {
        font-size: 1.6rem;
    }

    .tag {
        padding: 0.8rem;
    }

    .flex-tag {
        gap: 0.2rem;
    }

    /** General button styles **/
    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
        padding: var(--spacing-small) var(--spacing-xsmall);
    }

    /* FOOTER SECTION */
    .grid--footer {
        grid-template-columns: repeat(1, 1.5fr) repeat(3, 1fr);
        grid-template-columns: 225px 100px;   
        column-gap: var(--spacing-medium);    
    }

    .logo-col {
        grid-column: 1 / 2;
        grid-row: 2;
    }

    .resources-col {
        grid-row: 2;
    }

    /* ABOUT SECTION */
    /* team */
    .flex-card-about {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: var(--spacing-large);
    }

    .team-card {
        width: 250px;
    }

    .stadistics-about {
        display: grid;
        grid-template-columns: repeat(2, 25rem);
        gap: var(--spacing-large);
        justify-content: center;
    }
    
    .stadistics-numbers {
        width: 25rem;
    }

    /* OUR SERVICES SECTION */
    /** Samsung phone **/
    .flex-video {
        gap: var(--spacing-xl);
    }

    .phone-container {
        width: 250px;
    }
    
    .device-container {
        position: relative;
        width: 200px;
        height: auto;
    }
    
    .device-video {
        position: absolute;
        top: 1%; 
        left: 4%;
        object-fit: cover;
        z-index: 1;
        border-radius: 10px;
        width: 223px;
        height: 457px;
        overflow: hidden;
    }

    .device-image {
        position: relative;
        width: 100%;
        width: 240px;
        height: auto;
        height: 462px;
        z-index: 2; /* La imagen está delante del video */
    }

    .carousel-controls {
        position: absolute;
        bottom: 150px;
        left: 50%;
    }

    .circle-indicator {
        width: 102px;
        height: 102px;
    }

    .circle-indicator::before {
        width: 90px;
        height: 90px;
    }
    
    /** Estilos para los AirPods **/
    .airpods-device {
        position: absolute;
        top: -55px;
        right: -25px;
        width: 20rem; 
        z-index: 3; /* detrás del iPhone */
    }

    /** Iphone phone **/
    .iphone-container {
        max-width: 100%;
        position: relative; /* Para posicionar los AirPods detrás */
        perspective: 1000px;
    }

    .iphone-device {
        width: 30rem;
        height: auto;
        display: block;
        position: relative;
        z-index: 4;
        transform-style: preserve-3d;
        transform: rotateX(15deg) rotateY(-15deg);
    }

    /* FAQ SECTION */
    .grid-heading-secondary {
        grid-template-columns: 1fr;
        justify-items: start;
    }

    .grid-faq {
        grid-template-columns: 1fr;
        justify-items: start;
        row-gap: var(--spacing-small);
    }    

    /* WORK SECTION */
    /** carousel video **/
    .carousel-container {
        width: minmax(540px, 100%);
        height: 400px; /* Ajusta la altura */
    }

    .video-card {
        width: minmax(440px, 75%);
    }

    .video-card video {
        /* width: minmax(350px, 100%); */
    
        height: 340px; 
    }

    .video-text {
        top: 65%; /* Cambia la posición del texto */
        font-size: 1.2rem; /* Reduce el tamaño de la fuente */
        padding: var(--spacing-medium);
    }
    


}

/*******************************/
/* BELOW 644px (Smartphones)*/
/*******************************/
@media (max-width: 40.25rem) {
    .text-4xl {
        font-size: 1.8rem;
    }

    .text-2xl {
        font-size: 1.4rem;
    }

    /* HEADER */
    .logo {
        height: 3.0rem;
    }

    .header {
        padding: var(--spacing-small) var(--spacing-3xl);
        padding-top: var(--spacing-medium);
    }

    /* HERO SECTION */
    .grid-hero {
        grid-template-columns: 1fr;
    }

    .hero-section {
        padding-top: var(--spacing-2xl);
    }

    .main-heading {
        text-align: center;
    }

    .main-buttons {
        justify-content: center;

    }

    /* OUR SERVICES SECTION */
    .services-info {
        display: grid;
        justify-content: center;
    }

    .service-block {
        min-height: 100px;
        margin-bottom: var(--spacing-large);
    }

    .line {
        width:  0.15px; /* Grosor de la línea */
        height: 80px; /* Altura de la línea, ajustable */
    }

    .controls {
        bottom: -1px;
        width: 75%;
        left: 15%;
        padding: var(--spacing-small) 0px var(--spacing-small) 0px;
    }

    .phote-title {
        font-size: 6.2rem;
    }

    /** 3D model **/
    .phones-container {
        position: relative;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        margin: 0 auto; /* Para centrar el contenedor */
        cursor: grab; /* Establecer el cursor inicial */
    }

    /** Samsung phone **/
    .flex-video {
        grid-template-columns: 250px;
        gap: var(--spacing-4xl);
    }

    /* BLOG SECTION */
    .blog-container {
        grid-template-columns: 1fr;
    }

    /* ABOUT SECTION */
    /* team */
    .flex-card-about {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .stadistics-about {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .stadistics-numbers {
        width: 35rem;
    }

    /* CONTACT SECTION */
    .contact-icons {
        display: flex;
        gap: var(--spacing-small);
        margin-top: var(--spacing-xl);
    }

    .copy-confirmation {
        top: 100%;
        left: 25%;
        transform: translateX(-50%);
    }

    /* FOOTER SECTION */
    .grid--footer {
        grid-template-columns: repeat(1, 1.5fr) repeat(3, 1fr);
        grid-template-columns: repeat(3, 85px);
        column-gap: var(--spacing-medium); 
        row-gap: var(--spacing-xl);     
    }

    .logo-col {
        grid-column: 1 / -1;
        grid-row: 2;
    }

    .resources-col {
        grid-row: 1;
    }

    /* FAQ SECTION */
    .faq-illustration {
        width: 35rem;
        height: auto;
        transform: translateY(-10px);
    }

    /* WORK SECTION */
    /** carousel video **/
    .carousel-container {
        width: minmax(340px, 100%);
        height: 315px;
    }

    .video-card {
        width: minmax(280px, 75%);
    }

    .video-card video {
        height: 240px; 
    }

    .video-text {
        top: 60%; 
        font-size: 1rem;
        padding: var(--spacing-small);
    }
}