.header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-medium) var(--spacing-3xl);
    background-color: rgba(245, 245, 245, 0.25);

}

.logo {
    height: var(--spacing-xl);
    height: 3.6rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    filter: brightness(0.955);
}

.main-nav-header {
    display: flex;
}

.main-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: var(--spacing-xl);
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-neutral600);
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.3s;
}

.main-nav-link:not(.nav-cta):link {
    position: relative;
    padding-bottom: 0 0 var(--spacing-xxsmall);
}

.main-nav-link:not(.nav-cta)::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -6px;
    width: 0;
    height: 1.5px;
    margin: auto;
    background: transparent;
    transition: all 0.3s;
}

.main-nav-link:not(.nav-cta):hover::after {
    width: 100%;
    background-color: var(--color-primary500);
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--color-neutral900);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: var(--spacing-small) var(--spacing-large);
    color: var(--color-neutral100);
    background-color: var(--color-primary500);
}

.nav-cta {
    position: relative;
    transition: background 0.6s ease 0.4s, color 0.6s ease 0.4s;
}


/* Pseudo-elementos para crear el borde */
.nav-cta:before, 
.nav-cta:after, 
.nav-cta span:before, 
.nav-cta span:after {
    content: '';
    position: absolute;
    background: var(--color-primary900);
    transition: all 0.4s ease;
}

.nav-cta:before, 
.nav-cta span:before {
    height: 1.5px;
    width: 0;
}

.nav-cta:after, 
.nav-cta span:after {
    width: 1.5px;
    height: 0;
}

/* Posicionamiento de los pseudo-elementos */
.nav-cta span:before { top: 0; left: 0; }  /* Borde superior izquierdo */
.nav-cta:before { bottom: 0; right: 0; }  /* Borde inferior derecho */
.nav-cta span:after { bottom: 0; left: 0; }  /* Borde inferior izquierdo */
.nav-cta:after { top: 0; right: 0; }  /* Borde superior derecho */

/* Hover: borde primero, relleno después */
.main-nav-link.nav-cta:hover {
    background: var(--color-primary700); 
    color: var(--color-neutral100);
    transition: .4s .4s;
}

.nav-cta:hover span:before, 
.nav-cta:hover:before {
    width: 100%; 
    transition: .4s 0s;
}

.nav-cta:hover:after, 
.nav-cta:hover span:after {
    height: 100%;
    transition: .4s 0s;
}


/* HERO-SECTION */
.flex-hero {
    gap: 3.2rem;
}

.flex-hero {
    align-items:flex-end;
}

.flex-numbers {
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(130deg, rgba(177, 207, 250, 0.15)
    , rgba(14, 97, 212, 0.15)
    , rgba(158,0,255,0.15));
    padding: 1.2rem 0;
    gap: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(14, 97, 212, 0.15), 0px 4px 6px rgba(158,0,255,0.15);
    background-size: 200% 200%;
    animation: AnimationNumbersCard 4s ease infinite;
    transition: .4s ease-in-out;
    cursor: pointer;
    position: relative;
}

@keyframes AnimationNumbersCard {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.flex-numbers::before,
.flex-numbers::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 10%;
    background: linear-gradient(130deg, rgba(177, 207, 250, 0.15)
    , rgba(14, 97, 212, 0.10)
    , rgba(158,0,255,0.10));
    transition: all 0.5s;
}

.flex-numbers::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.flex-numbers::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.flex-numbers:hover::before,
.flex-numbers:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.tag {
    font-weight: 600;
    color: var(--color-neutral600);
    padding: 1.5rem;
    background-color: rgba(60, 136, 242, 0.25);

    border-radius: 30px;
    display: inline-block;
    border: 1px solid rgba(60, 136, 242, 0.25);
    transition: all 0.3s;

    background-image: linear-gradient(
        0deg,
        rgba(94, 58, 238, 0.15) 0%,
        rgba(197, 107, 240, 0.15) 100%
    );
    cursor: pointer;
    box-shadow: inset 0 -2px 25px -4px rgba(255, 255, 255, 0.5);
    /* color: var(--color-basewhite); */
}


.tag:hover {
    cursor: pointer;
    background-color: rgba(60, 136, 242, 0.35);
}

.flex-tag {
    justify-content: center;
    gap: 1.2rem;
}

.hero-img {
    width: 100%;
    height: 100%;
    
}

.main-heading {
    margin-bottom: var(--spacing-large);
}

.main-description {
    margin-bottom: var(--spacing-xl);
    color: var(--color-neutral500);
}

.box-description {
    color: var(--color-neutral500);
}

.main-buttons {
    margin-bottom: var(--spacing-large);
}

.strong-degraded {
    background: linear-gradient(90deg, #b1cffa, #0e61d4, rgba(158,0,255,0.50));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 150% 150%;
    animation: gradient-animation 5s infinite alternate;
    transition: .4s ease-in-out;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Initial style for the "o" */
.letter {
    display: inline-block;
    font-style: italic;
    transition: font-style 0.3s ease;
}

/* Hover effect: change font-style to normal and add shake effect */
.letter:hover  {
    animation: italicToNormal 0.8s ease forwards;
}

@keyframes italicToNormal {
    0% {
        font-style: italic;
    }
    50% {
        font-style: normal;
    }
    100% {
        font-style: italic;
    }
}



/* General button styles */
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    margin-right: var(--spacing-small); 
    padding: var(--spacing-small) var(--spacing-medium);
    position: relative;
    overflow: hidden; /* Necessary for the hover effect */
    transition: color 650ms ease-in-out;
    z-index: 3;
}

/* Full button */
.btn--full {
    color: var(--color-basewhite);
    background-color: var(--color-primary500);
}

/* Outline button */
.btn--outline {
    color: var(--color-neutral600);
    background-color: var(--color-neutral100);
    border: 2px solid var(--color-neutral200);
}

/* Circle hover effect */
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.8s cubic-bezier(0, 0.96, 0.58, 1.1);
    z-index: -1;
}

.btn--full::after {
    background-color: var(--color-primary600);
}

.btn--outline::after {
    background-color: var(--color-primary100);
}

.btn:hover::after {
    clip-path: circle(100% at 50% 50%);
}

.btn:hover {
    color: var(--color-basewhite);
}

/* Outline button hover */
.btn--outline:hover {
    color: var(--color-primary500);
    border-color: var(--color-primary500);
}

.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-container-text {
    padding: 2.4rem 4.8rem;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Shapes */
.shape {
    position: absolute;
    background: linear-gradient(90deg, rgba(60,136,242,0.15) 0%, rgba(59,9,121,0.10) 35%, rgba(158,0,255,0.10) 80%);
    width: 50vmax;
    height: 50vmax;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    will-change: border-radius, transform;
    pointer-events: none;
    transform-origin: center;
}

/* First shape */
.shape1 {
    left: 10%;
    top: 10%;
    z-index: -2;
}

/* Second shape */
.shape2 {
    background: linear-gradient(90deg, rgba(185,220,246,0.25) 0%, rgba(53,119,222,0.10) 35%, rgba(91,21,230,0.10) 80%);
    right: 10%;
    bottom: 10%;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
    z-index: -2;
    width: 50vmin;
    height: 50vmin;
}

/* Animation of changing shape (morph) */
@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }
    100% {
        border-radius: 40% 60%;
    }
}

/* Animation of rotation (spin) */
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* OUR SERVICES SECTION */
.sub-heading,
.sub-heading-services {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-2xl);
}

.sub-heading-services {
    margin-bottom: var(--spacing-large);
}


.description-text {
    margin-bottom: var(--spacing-2xl);
    color: var(--color-neutral500);
}

/* Cards */
.flex-services {
    gap: 3.2rem;
    justify-content: center;
}

.cards {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}


.services-container-text {
    justify-content: center;

    font-size: 2.8rem;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}

.btn-secondary {
    color: var(--color-primary600);
    text-decoration: none;
    border: 2px solid var(--color-primary600);
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn-secondary:hover {
    color: var(--color-basewhite);
}

.btn-secondary::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--color-primary600);
    z-index: -1;
    transition: all 1s;
}

.btn-secondary:hover::before {
    width: 160%;
}


.services-container-text span {
    color: var(--color-neutral700);
}

/* Cards */
.services-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 2.4rem; */
}

.service-block {
    width: 300px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 2rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.service-block:hover .title {
    color: var(--color-primary500);
    color: var(--color-neutral800);

}



.services-info:hover > .service-block:not(:hover) {
    filter: blur(2px) grayscale(50%);
    opacity: 0.8;
    transition: filter 0.5s ease, opacity 0.5s ease;
}

.line {
    width:  0.15px; /* Grosor de la línea */
    height: 150px; /* Altura de la línea, ajustable */
    background-color: var(--color-neutral200); /* Color de la línea */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10 .5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 1 0V1a.5.5 0 0 0-.5-.5' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 100%;
}


.title {
    margin-bottom: var(--spacing-medium);
    transition: color 0.3s ease;
}

.sub-title, 
.phone-heading {
    font-size: 1.8rem;
	font-weight: 600;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}

.phone-heading {
    color: var(--color-neutral600);
}

.text-services {
    color: var(--color-neutral400);
}

/* Samsung phone */

.flex-video {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap:6rem;
}

.phone-container {
    width: 300px;
}

.device-container {
    position: relative;
    width: 200px;
    height: auto;
}

.device-video {
    position: absolute;
    top: 1%; 
    left: 4%;
    object-fit: fill;
    z-index: 1;
    border-radius: 10px;
    width: 185px;
    height: 402px;
    overflow: hidden;
}

.device-image {
    position: relative;
    width: 100%;
    width: 200px;
    height: auto;
    z-index: 2; /* La imagen está delante del video */
}

.device-video {
    position: absolute;
    top: 1%; 
    left: 6%;
    object-fit: fill;
    z-index: 1;
    border-radius: 10px;
    width: 276px;
    height: 602px;
    overflow: hidden;
}

.device-image {
    position: relative;
    width: 100%;
    width: 300px;
    height: auto;
    z-index: 2; /* La imagen está delante del video */
}

/* Dot and line container */
.line-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.line-container-design {
    display: flex;
    align-items: center;
    width: 100%;
}

.line-container-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(115, 115, 115, 0.25);
    border-radius: 50%;
}

.flex-line {
    /* width: 1.15px; 
    height: 300px; */
    width: 350px;
    height: 0.65px;
    background-color: rgba(115, 115, 115, 0.85);
    
    mask-image: linear-gradient(
        to right, 
        rgba(115, 115, 115, 1), 
        rgba(115, 115, 115, 0.45) 55%, 
        rgba(115, 115, 115, 0.05) 100%
    );
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10 .5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 1 0V1a.5.5 0 0 0-.5-.5' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    /* transform: rotate(-0.25turn); */
    /* margin-left: 14rem; */
    display: flex;
}

.flex- {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 42rem;
    height: 62rem;
    /* overflow: hidden; */
    /* justify-content: flex-start; */
}

.phone-title {
    color: var(--color-neutral700);
    margin-top: var(--spacing-medium);
    transition: color 0.3s ease;
    align-self: center;
}


.good-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-elements {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    justify-content: flex-start;
}

.circle-backg,
.circle-ex,
.circle-pricing {
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    background-color: var(--color-success400);
    background-color: var( --color-primary500);
    border-radius: 50%; /* Cambio a 50% para círculos perfectos */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-ex {
    background-color: var(--color-error400);
}

.flex-lighthouse {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.circle-indicator {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--color-primary500) 0deg 345deg, transparent 345deg 360deg); /* Controla la sección verde y la parte vacía */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-text {
    position: absolute;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--color-primary500);
    text-align: center;
    z-index: 1;
}

.circle-indicator::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--color-basewhite);
    border-radius: 50%;
    z-index: 0;
}

/* carousel */
/* Estilo para el contenedor del carrusel */
.carousel-wrapper {
    position: relative;
    overflow: hidden;
    height: 460px;
}

.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.carousel-slide.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.carousel-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-arrow, 
.right-arrow {
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.left-arrow.active,
.right-arrow.active {
    background-color: var(--color-primary500);
}

.left-arrow {
    position: absolute;
    left: -50px;
}

.right-arrow {
    position: absolute;
    right: -50px;
}

.dots-container {
    display: flex;
    gap: 5px;
}

.dot {
    background: var(--color-neutral100);
    border-radius: 50%;
    width: 2.3rem;
    height: 2.3rem;
    display: inline-block;
    border-color: var(--color-primary600);
    border: 1px solid var(--color-primary600);
}

.dot.active {
    background: var(--color-primary600);
}


/* Web Design */
.iphone-container {
    max-width: 100%;
    position: relative; /* Para posicionar los AirPods detrás */
    perspective: 1000px;
}

/* Estilos para el iPhone */
.iphone-device {
    width: 30rem;
    height: auto;
    display: block;
    position: relative;
    z-index: 4; /*iPhone esté por delante */
    transform-style: preserve-3d;
    transform: rotateX(15deg) rotateY(-15deg);
}


/* Estilos para los AirPods */
.airpods-device {
    position: absolute;
    top: -25px;
    right: -65px;
    width: 20rem; 
    z-index: 3; /* detrás del iPhone */
}

.airpods-image {
    width: 100%;
    height: auto;
    opacity: 1;
}

/* tehcnical seo */

/* PRICING SECTION */
.pricing-section {
    padding: 4rem 2rem;
    background-color: #f0f4f8;
}

.pricing-container {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.card-pricing {
    background: linear-gradient(145deg, #fff, rgba(158, 196, 249, 0.15));
    border-radius: 20px;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 320px;
    position: relative;
    box-shadow: 0 0.2rem 0.3rem  rgba(216, 231, 252, 1, 0.079);
    transition: all 0.4s ease;
}

.card-pricing:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 15px rgba(216, 231, 252, 1), 0px 4px 6px rgba(158, 196, 249, 0.5);
}

.professional-plan {
    background: linear-gradient(145deg, #ffffff, #3c88f2);
    background: rgba(158, 196, 249, 0.55);
    background: linear-gradient(145deg, #ffffff, rgba(158, 196, 249, 0.55));
    /* border: 1px solid #d4d4d4; */
}

.professional-plan:hover {
    box-shadow: 0px 10px 15px rgba(158, 196, 249, 0.25), 0px 4px 6px rgba(158, 196, 249, 0.85);
}

.pricing-title {
    margin-bottom: 1rem;
}

.text-super {
    color: var(--color-neutral500);
    text-align: center;
    margin-right: 2.4rem;
}

.pricing-cost {
    color: var(--color-neutral800);
    text-align: center;
    margin-bottom: 1rem;

}

.pricing-cost span {
    font-size: 1rem;
    color: #666;
}

.pricing-description {
    color: var(--color-neutral500);
    margin-bottom: 2rem;
}

.pricing-button {
    color: var(--color-neutral600);
    background-color: var(--color-neutral100);
    border: 2px solid var(--color-neutral200);
}

.pricing-button:link,
.pricing-button:visited {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 1.4rem;
    margin-bottom: 2rem;
}

.pricing-button::after {
    background-color: var(--color-primary100);
}


.pricing-button:hover {
    color: var(--color-primary500);
    border-color: var(--color-primary500);
}

.pricing-button.highlighted {
    background-color: var(--color-primary500);
    color: var(--color-basewhite);
}

.pricing-button.highlighted:hover {
    color: var(--color-primary500);
}


.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem 0;
}

.separator-text {
    font-weight: bold;
    font-size: 1rem;
    margin: 0 10px;
    position: relative;
    background-color: var(--color-primary400);
    color: var(--color-basewhite);
    border: 50%;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--color-primary400);
}

.professional-plan .separator::before, .professional-plan .separator::after {
    background-color: var(--color-primary500);
}

.pricing-features {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    
}

.pricing-features li {
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.pricing-features p {
    font-size: 1.2rem;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
    color: var(--color-neutral500);
}

.circle-pricing {
    background-color: var( --color-primary500);
}


.circle-pricing.highlighted {
    background-color: var( --color-primary600);
}


.professional-plan .check-icon, .enterprise-plan .check-icon {
    background-color: #ffffff;
}

/* FAQ SECTION */
.faq-questions {
    display: flex;
    flex-direction: column;
}

.faq-item {
    background-color: var(--color-basewhite);
    border: 1px solid var(--color-neutral300);
    border-radius: var(--radius-xsmall); 
    margin-bottom: var(--spacing-small); 
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-input {
    display: none;
}

.faq-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    padding: var(--spacing-medium);
    background-color: var(--color-neutral100);
    gap: var(--spacing-small);
}

.faq-title h3 {
    margin: 0;
}

.faq-toggle {
    margin-left: auto;
    transition: transform 0.3s ease;
}

.faq-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 var(--spacing-medium);
}

.faq-input:checked + .faq-title + .faq-content {
    max-height: 300px;
    padding: var(--spacing-medium);
}

.faq-input:checked + .faq-title .faq-toggle {
    transform: rotate(45deg);
}

/* Cerrar automáticamente la pregunta abierta al abrir una nueva */
.faq-input:checked ~ .faq-input:not(:checked) + .faq-title + .faq-content {
    max-height: 0;
    padding: 0 var(--spacing-medium);
}

.faq-input:checked ~ .faq-input:not(:checked) + .faq-title .faq-toggle {
    transform: rotate(0deg);
}

.faq-illustration {
    width: 50rem;
    height: auto;
    transform: translateY(-40px); /* Ajusta el valor para mover el GIF verticalmente */
}


.grid-text {
    grid-column: 2/4;
}

.grid-faq {
    gap: var(--spacing-3xl);
}

.grid-heading-secondary {
    margin-bottom: var(--spacing-xl);
    grid-template-columns: 0.75fr 1fr 1fr 0.75fr;
}

/* ABOUT SECTION */
.about-section {
    padding: var(--spacing-xl) 0;
}

.about-box-title {
    width: 100rem;
    margin: 0 auto;
}

.line-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.line-container-design {
    display: flex;
    align-items: center;
    width: 100%;
}

.flex-line-about {
    width: 350px;
    height: 0.65px;
    background-color: rgba(115, 115, 115, 0.85);
    
    mask-image: linear-gradient(
        to right, 
        rgba(115, 115, 115, 1), 
        rgba(115, 115, 115, 0.85) 55%, 
        rgba(115, 115, 115, 0.45) 100%
    );
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10 .5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 1 0V1a.5.5 0 0 0-.5-.5' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    display: flex;
}

.stadistics-about {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.stadistics-numbers {
    width: 25rem;
}

/* team */
.flex-card-about {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.team-card {
    position: relative;
    width: 300px;
    height: auto;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.image-container {
    position: relative;
    border-radius: 20px 20px 0px 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 85%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.team-card:hover .hover-content {
    opacity: 1;
}

.hover-content video {
    width: 100%;
    height: 100%;  /* Asegúrate de que cubra todo el contenedor */
    object-fit: cover;  /* Ajusta el video para que cubra el área sin deformarse */
    border-radius: 20px 20px 0px 0px;
}

.card-content {
    text-align: left;
}

.profile-box {
    padding: 5px 10px;
    border-radius: 1px;
    width: 100%;
    background-color: var(--color-neutral1000);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.team-name {
    color: #fff;
}

.team-position {
    color: var(--color-neutral400);;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.linkedin-icon img {
    width: 30px;
    background-color: var(--color-primary400);
    border-radius: 50%;
}

.plus-icon {
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    min-width: 2.5rem;
    background-color: var(--color-success400);
    background-color: var( --color-primary500);
    border-radius: 50%; /* Cambio a 50% para círculos perfectos */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-basewhite);
    font-size: 3rem;
}

.profile-icon--linkedin {
    width: 2rem;
    height: 2rem;
	background-color: var(--color-basewhite);
}

.about-link:link,
.about-link:visited
{
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    background-color: var(--color-neutral100);
}

.about-link:hover {
    background-color: var(--color-neutral300);
}

/* WORK SECTION */
.work-section {
    padding: var(--spacing-xl) 0;
}

/* BLOG SECTION */
.blog-section {
    padding: var(--spacing-xl) 0;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-small);
    padding: var(--spacing-medium);
}

.blog-card {
    border: 1px solid var(--color-neutral200);
    border-radius: var(--radius-xsmall);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 15px rgba(216,231,252,1), 0px 4px 6px rgba(216,231,252,0.150);
    background-color: rgba(216,231,252,0.250);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-content {
    padding: var(--spacing-medium);
}

.blog-title {
    font-size: 1.8rem;
    margin-bottom: var(--spacing-xsmall);
}

.blog-description {
    margin-bottom: var(--spacing-medium);
}

.blog-date {
    margin-bottom: var(--spacing-xsmall);
    font-size: 1.2rem;
}

.blog-title {
	color: var(--color-neutral1000);
}

.blog-text {
	color: var(--color-neutral500);
}

.blog-link-active {
	color: var(--color-primary300);
}

.blog-link-hover {
	color: var(--color-primary500);
}

.blog-link, 
.servicios-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.blog-link span{
    margin-left: var(--spacing-xxsmall);
    transition: transform 0.3s;
}

.servicios-link div {
    transition: transform 0.3s;
}

.blog-link:hover, 
.servicios-link:hover {
    color: var(--color-primary500);
}

.blog-link:hover span {
    transform: translateX(3px);
    transform: rotate(45deg);
}

.servicios-link:hover div {
    transform: rotate(45deg);
}

.icon-primary {
	color: var(--color-primary700);
}

.middot {
    font-size: 1.4rem;
    color: var(--color-neutral700);
}

.blog-tags-container {
    gap: 1.2rem;
}

.blog-tag {
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    border: 2px solid var(--color-neutral400);
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    color: var(--color-neutral700);
}

.author-blog {
    color: var(--color-neutral500);
}

.blog-description span {
    color: var(--color-neutral500);
}

.flex-author {
    justify-content: space-between;
}

.flex-clock {
    gap: 0.5rem;
    align-items: flex-start;
}

.read-text {
    color: var(--color-neutral500);
}

.clock-variation--one {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z'/%3E%3Crect width='2' height='7' x='11' y='6' fill='%23000' rx='1'%3E%3CanimateTransform attributeName='transform' dur='45s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/rect%3E%3Crect width='2' height='9' x='11' y='11' fill='%23000' rx='1'%3E%3CanimateTransform attributeName='transform' dur='3.95s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/rect%3E%3C/svg%3E");
}

.clock-variation--two {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,20a9,9,0,1,1,9-9A9,9,0,0,1,12,21Z'/%3E%3Crect width='2' height='7' x='11' y='6' fill='%23000' rx='1'%3E%3CanimateTransform attributeName='transform' dur='45s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/rect%3E%3Crect width='2' height='9' x='11' y='11' fill='%23000' rx='1'%3E%3CanimateTransform attributeName='transform' dur='3.15s' repeatCount='indefinite' type='rotate' values='0 12 12;360 12 12'/%3E%3C/rect%3E%3C/svg%3E");
}


/** CONTACT SECTION **/
.contact-section {
    padding: var(--spacing-5xl) 0; 
}

.nav-icon {
    display: inline-block;
    width: 6.4rem;
    height: 6.4rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.001 2c5.523 0 10 4.477 10 10s-4.477 10-10 10a9.95 9.95 0 0 1-5.03-1.355L2.005 22l1.352-4.968A9.95 9.95 0 0 1 2.001 12c0-5.523 4.477-10 10-10M8.593 7.3l-.2.008a1 1 0 0 0-.372.1a1.3 1.3 0 0 0-.294.228c-.12.113-.188.211-.261.306A2.73 2.73 0 0 0 6.9 9.62c.002.49.13.967.33 1.413c.409.902 1.082 1.857 1.97 2.742c.214.213.424.427.65.626a9.45 9.45 0 0 0 3.84 2.046l.568.087c.185.01.37-.004.556-.013a2 2 0 0 0 .833-.231a5 5 0 0 0 .383-.22q.001.002.125-.09c.135-.1.218-.171.33-.288q.126-.13.21-.302c.078-.163.156-.474.188-.733c.024-.198.017-.306.014-.373c-.004-.107-.093-.218-.19-.265l-.582-.261s-.87-.379-1.402-.621a.5.5 0 0 0-.176-.041a.48.48 0 0 0-.378.127c-.005-.002-.072.055-.795.931a.35.35 0 0 1-.368.13a1.4 1.4 0 0 1-.191-.066c-.124-.052-.167-.072-.252-.108a6 6 0 0 1-1.575-1.003c-.126-.11-.243-.23-.363-.346a6.3 6.3 0 0 1-1.02-1.268l-.059-.095a1 1 0 0 1-.102-.205c-.038-.147.061-.265.061-.265s.243-.266.356-.41c.11-.14.203-.276.263-.373c.118-.19.155-.385.093-.536q-.42-1.026-.868-2.041c-.059-.134-.234-.23-.393-.249q-.081-.01-.162-.016a3 3 0 0 0-.403.004z'/%3E%3C/svg%3E");
    background-color: var(--color-success400);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: all 0.3s;
}

.nav-icon:hover {
    transform: scale(1.2);
    background-color: var(--color-success500);
}

.contact-icons {
    display: flex;
    gap: 1rem;
    margin-top:var(--spacing-medium);
    position: relative;
}

.contact-icons img {
    width: 40px;
    height: 40px;
}

.icon-box {
    background-color:  var(--color-primary100);
    border-radius: var(--radius-round);
    width: 8.7rem;
    height: 8.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .5s;
}

.copy-confirmation {
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translateX(-50%);
    background-color: var(--color-primary100);
    color: var(--color-primary600);
    font-weight: 600;
    padding: var(--spacing-xsmall) var(--spacing-small);
    border-radius: var(--radius-xsmall);
    font-size: var(--spacing-small);
    margin-top: var(--spacing-xxsmall);
    z-index: 99;
}

.copy-confirmation.show {
    display: block;
}


@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake-icon:hover {
    animation: shake 0.4s ease-in-out;
}


.hero-icon {
    display: inline-block;
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--color-primary700);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon-phone-incoming {
	display: inline-block;
	width: 4.8rem;
	height: 4.8rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 3a1 1 0 0 0-1 1a17 17 0 0 0 17 17a1 1 0 0 0 1-1v-3.5a1 1 0 0 0-1-1c-1.25 0-2.45-.2-3.57-.57a1.02 1.02 0 0 0-1.02.24l-2.2 2.2a15.05 15.05 0 0 1-6.59-6.59l2.2-2.21a.96.96 0 0 0 .25-1A11.4 11.4 0 0 1 8.5 4a1 1 0 0 0-1-1zm15 8V9.5h-3.5L21 4l-1-1l-5.5 5.5V5H13v6z'/%3E%3C/svg%3E");
	background-color: var(--color-primary700);
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.icon-outline--mail  {
	display: inline-block;
	width: 4.8rem;
	height: 4.8rem;
	--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2'/%3E%3C/svg%3E");
	background-color: var(--color-primary700);
	-webkit-mask-image: var(--svg);
	mask-image: var(--svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}

.flex-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    gap: 20px;
}

.whatsapp-icon {
    position: fixed; /* Hace que el ícono esté siempre en la misma posición */
    bottom: 20px; /* Ajusta la distancia desde la parte inferior de la pantalla */
    right: 20px; /* Ajusta la distancia desde el lado derecho de la pantalla */
    z-index: 999; /* Asegura que el ícono esté por encima de otros elementos */
    background-color: var(--color-basewhite);
    border-radius: 50%;
}


/** FOOTER SECTION **/
.grid--footer {
    grid-template-columns: repeat(1, 1.5fr) repeat(3, 1fr);
    margin-bottom: var(--spacing-5xl);
}

.logo-col {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: block;
    align-self: center;
}

.logo-footer {
    align-items: center;
    gap: var(--spacing-large);
}

.heroicons-outline--location,
.heroicons-outline--chat {
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.heroicons-outline--location:hover,
.heroicons-outline--chat:hover {
    filter: brightness(0.9);
}

.logo-tomastech {
    height: 3.6rem;
}

.social-links {
    list-style: none;
    display: flex;
    gap: var(--spacing-large);
}

.footer-link:link,
.footer-link:visited {
    text-decoration: none;
    transition: all 0.3s;
}

.social-links {
    list-style: none;
    display: flex;
    align-self: center;
    gap: var(--spacing-large);
}

.footer-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
}

.copyright-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-large);
}

.social-link:link,
.social-link:visited
{
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
    background-color: var(--color-primary300);
}

.social-link:hover {
    background-color: var(--color-primary500);
}




.copyright-text {
	color: var(--color-neutral300);
}

.footer-title {
	color: var(--color-neutral700);
}

.footer-link-active {
	color: var(--color-neutral400);
}


.footer-section {
    padding: var(--spacing-5xl) 0; 
}