.header {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-medium) var(--spacing-3xl);
    background-color: rgba(245, 245, 245, 0.25);

}

.logo {
    height: var(--spacing-xl);
    height: 3.6rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
    filter: brightness(0.955);
}

.main-nav-header {
    display: flex;
}

.main-nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: var(--spacing-xl);
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--color-neutral600);
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.3s;
}

.main-nav-link:not(.nav-cta):link {
    position: relative;
    padding-bottom: 0 0 var(--spacing-xxsmall);
}

.main-nav-link:not(.nav-cta)::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: -6px;
    width: 0;
    height: 1.5px;
    margin: auto;
    background: transparent;
    transition: all 0.3s;
}

.main-nav-link:not(.nav-cta):hover::after {
    width: 100%;
    background-color: var(--color-primary500);
}

.main-nav-link:hover,
.main-nav-link:active {
    color: var(--color-neutral900);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
    padding: var(--spacing-small) var(--spacing-large);
    color: var(--color-neutral100);
    background-color: var(--color-primary500);
}

.nav-cta {
    position: relative;
    transition: background 0.6s ease 0.4s, color 0.6s ease 0.4s;
}


/* Pseudo-elementos para crear el borde */
.nav-cta:before, 
.nav-cta:after, 
.nav-cta span:before, 
.nav-cta span:after {
    content: '';
    position: absolute;
    background: var(--color-primary900);
    transition: all 0.4s ease;
}

.nav-cta:before, 
.nav-cta span:before {
    height: 1.5px;
    width: 0;
}

.nav-cta:after, 
.nav-cta span:after {
    width: 1.5px;
    height: 0;
}

/* Posicionamiento de los pseudo-elementos */
.nav-cta span:before { top: 0; left: 0; }  /* Borde superior izquierdo */
.nav-cta:before { bottom: 0; right: 0; }  /* Borde inferior derecho */
.nav-cta span:after { bottom: 0; left: 0; }  /* Borde inferior izquierdo */
.nav-cta:after { top: 0; right: 0; }  /* Borde superior derecho */

/* Hover: borde primero, relleno después */
.main-nav-link.nav-cta:hover {
    background: var(--color-primary700); 
    color: var(--color-neutral100);
    transition: .4s .4s;
}

.nav-cta:hover span:before, 
.nav-cta:hover:before {
    width: 100%; 
    transition: .4s 0s;
}

.nav-cta:hover:after, 
.nav-cta:hover span:after {
    height: 100%;
    transition: .4s 0s;
}


/* HERO-SECTION */
.flex-hero {
    gap: 3.2rem;
}

.flex-hero {
    align-items:flex-end;
}

.flex-numbers {
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(130deg, rgba(177, 207, 250, 0.15)
    , rgba(14, 97, 212, 0.15)
    , rgba(158,0,255,0.15));
    padding: 1.2rem 0;
    gap: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 4px rgba(14, 97, 212, 0.15), 0px 4px 6px rgba(158,0,255,0.15);
    background-size: 200% 200%;
    animation: AnimationNumbersCard 4s ease infinite;
    transition: .4s ease-in-out;
    cursor: pointer;
    position: relative;
}

@keyframes AnimationNumbersCard {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.flex-numbers::before,
.flex-numbers::after {
    position: absolute;
    content: "";
    width: 10%;
    height: 10%;
    background: linear-gradient(130deg, rgba(177, 207, 250, 0.15)
    , rgba(14, 97, 212, 0.10)
    , rgba(158,0,255,0.10));
    transition: all 0.5s;
}

.flex-numbers::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.flex-numbers::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.flex-numbers:hover::before,
.flex-numbers:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.5s;
}

.tag {
    font-weight: 600;
    color: var(--color-neutral600);
    padding: 1.5rem;
    background-color: rgba(60, 136, 242, 0.25);

    border-radius: 30px;
    display: inline-block;
    border: 1px solid rgba(60, 136, 242, 0.25);
    transition: all 0.3s;

    background-image: linear-gradient(
        0deg,
        rgba(94, 58, 238, 0.15) 0%,
        rgba(197, 107, 240, 0.15) 100%
    );
    cursor: pointer;
    box-shadow: inset 0 -2px 25px -4px rgba(255, 255, 255, 0.5);
    /* color: var(--color-basewhite); */
}


.tag:hover {
    cursor: pointer;
    background-color: rgba(60, 136, 242, 0.35);
}

.flex-tag {
    justify-content: center;
    gap: 1.2rem;
}

.hero-img {
    width: 100%;
    height: 100%;
    
}

.main-heading {
    margin-bottom: var(--spacing-large);
}

.main-description {
    margin-bottom: var(--spacing-xl);
    color: var(--color-neutral500);
}

.box-description {
    color: var(--color-neutral500);
}

.main-buttons {
    margin-bottom: var(--spacing-large);
}

.strong-degraded {
    background: linear-gradient(90deg, #b1cffa, #0e61d4, rgba(158,0,255,0.50));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 150% 150%;
    animation: gradient-animation 5s infinite alternate;
    transition: .4s ease-in-out;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

/* Initial style for the "o" */
.letter {
    display: inline-block;
    font-style: italic;
    transition: font-style 0.3s ease;
}

/* Hover effect: change font-style to normal and add shake effect */
.letter:hover  {
    animation: italicToNormal 0.8s ease forwards;
}

@keyframes italicToNormal {
    0% {
        font-style: italic;
    }
    50% {
        font-style: normal;
    }
    100% {
        font-style: italic;
    }
}



/* General button styles */
.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    margin-right: var(--spacing-small); 
    padding: var(--spacing-small) var(--spacing-medium);
    position: relative;
    overflow: hidden; /* Necessary for the hover effect */
    transition: color 650ms ease-in-out;
    z-index: 3;
}

/* Full button */
.btn--full {
    color: var(--color-basewhite);
    background-color: var(--color-primary500);
}

/* Outline button */
.btn--outline {
    color: var(--color-neutral600);
    background-color: var(--color-neutral100);
    border: 2px solid var(--color-neutral200);
}

/* Circle hover effect */
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 0.8s cubic-bezier(0, 0.96, 0.58, 1.1);
    z-index: -1;
}

.btn--full::after {
    background-color: var(--color-primary600);
}

.btn--outline::after {
    background-color: var(--color-primary100);
}

.btn:hover::after {
    clip-path: circle(100% at 50% 50%);
}

.btn:hover {
    color: var(--color-basewhite);
}

/* Outline button hover */
.btn--outline:hover {
    color: var(--color-primary500);
    border-color: var(--color-primary500);
}

.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-container-text {
    padding: 2.4rem 4.8rem;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Shapes */
.shape {
    position: absolute;
    background: linear-gradient(90deg, rgba(60,136,242,0.15) 0%, rgba(59,9,121,0.10) 35%, rgba(158,0,255,0.10) 80%);
    width: 50vmax;
    height: 50vmax;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    will-change: border-radius, transform;
    pointer-events: none;
    transform-origin: center;
}

/* First shape */
.shape1 {
    left: 10%;
    top: 10%;
    z-index: -2;
}

/* Second shape */
.shape2 {
    background: linear-gradient(90deg, rgba(185,220,246,0.25) 0%, rgba(53,119,222,0.10) 35%, rgba(91,21,230,0.10) 80%);
    right: 10%;
    bottom: 10%;
    animation: morph 10s linear infinite alternate, spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
    z-index: -2;
    width: 50vmin;
    height: 50vmin;
}

/* Animation of changing shape (morph) */
@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    }
    100% {
        border-radius: 40% 60%;
    }
}

/* Animation of rotation (spin) */
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

/* OUR SERVICES SECTION */
.sub-heading,
.sub-heading-services {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-2xl);
}

.sub-heading-services {
    margin-bottom: var(--spacing-large);
}


.description-text {
    margin-bottom: var(--spacing-2xl);
    color: var(--color-neutral500);
}

/* Cards */
.flex-services {
    gap: 3.2rem;
    justify-content: center;
}

.cards {
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}


.services-container-text {
    justify-content: center;

    font-size: 2.8rem;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}

.btn-secondary {
    color: var(--color-primary600);
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid var(--color-primary600);
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn-secondary:hover {
    color: var(--color-basewhite);
}

.btn-secondary::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: var(--color-primary600);
    z-index: -1;
    transition: all 1s;
}

.btn-secondary:hover::before {
    width: 160%;
}


.services-container-text span {
    color: var(--color-neutral700);
}

/* Cards */
.services-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* gap: 2.4rem; */
}

.service-block {
    width: 300px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 2rem;
    transition: color 0.3s ease;
    cursor: pointer;
}

.service-block:hover .title {
    color: var(--color-primary500);
    color: var(--color-neutral800);

}



.services-info:hover > .service-block:not(:hover) {
    filter: blur(2px) grayscale(50%);
    opacity: 0.8;
    transition: filter 0.5s ease, opacity 0.5s ease;
}

.line {
    width:  0.15px; /* Grosor de la línea */
    height: 150px; /* Altura de la línea, ajustable */
    background-color: var(--color-neutral200); /* Color de la línea */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10 .5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 1 0V1a.5.5 0 0 0-.5-.5' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 100%;
}


.title {
    margin-bottom: var(--spacing-medium);
    transition: color 0.3s ease;
}

.sub-title, 
.phone-heading {
    font-size: 1.8rem;
	font-weight: 600;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}

.phone-heading {
    color: var(--color-neutral600);
}

.text-services {
    color: var(--color-neutral400);
}

/* Samsung phone */

.flex-video {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    gap: 12rem;
}

.device-container {
    position: relative;
    width: 200px;
    height: auto;
}

.device-video {
    position: absolute;
    top: 1%; 
    left: 4%;
    object-fit: fill;
    z-index: 1;
    border-radius: 10px;
    width: 185px;
    height: 402px;
    overflow: hidden;
}

.device-image {
    position: relative;
    width: 100%;
    width: 200px;
    height: auto;
    z-index: 2; /* La imagen está delante del video */
}

.device-video {
    position: absolute;
    top: 1%; 
    left: 6%;
    object-fit: fill;
    z-index: 1;
    border-radius: 10px;
    width: 276px;
    height: 602px;
    overflow: hidden;
}

.device-image {
    position: relative;
    width: 100%;
    width: 300px;
    height: auto;
    z-index: 2; /* La imagen está delante del video */
}

/* Dot and line container */
.line-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(115, 115, 115, 0.25);
    border-radius: 50%;
}

.flex-line {
    /* width: 1.15px; 
    height: 300px; */
    width: 350px;
    height: 0.65px;
    background-color: rgba(115, 115, 115, 0.85);
    
    mask-image: linear-gradient(
        to right, 
        rgba(115, 115, 115, 1), 
        rgba(115, 115, 115, 0.45) 55%, 
        rgba(115, 115, 115, 0.05) 100%
    );
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10 .5a.5.5 0 0 0-.5.5v18a.5.5 0 0 0 1 0V1a.5.5 0 0 0-.5-.5' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    /* transform: rotate(-0.25turn); */
    /* margin-left: 14rem; */
    display: flex;
}

.flex- {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 45rem;
    /* justify-content: flex-start; */
}

.phone-title {
    color: var(--color-neutral700);
    margin-top: var(--spacing-medium);
    transition: color 0.3s ease;
    align-self: center;
}


.good-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.list-elements {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.circle-backg,
.circle-ex {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--color-success400);
    background-color: var( --color-primary500);
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-ex {
    background-color: var(--color-error400);
}

.ex {
    color: var(--color-neutral100);
}

.flex-lighthouse {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.circle-indicator {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--color-primary500) 0deg 345deg, transparent 345deg 360deg); /* Controla la sección verde y la parte vacía */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-text {
    position: absolute;
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--color-primary500);
    text-align: center;
    z-index: 1;
}

.circle-indicator::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: var(--color-basewhite);
    border-radius: 50%;
    z-index: 0;
}
