/*******************************/
/* BELOW 1200px (Landscape Tablets)*/
/*******************************/
@media (max-width: 75rem) {
    html {
        /* 9px / 16px*/
        font-size: 56.25%;
    }
    /* HERO-SECTION */
    /** General button styles **/
    .btn:link,
    .btn:visited {
        font-size: 1.8rem;
    }
    /* ABOUT SECTION */
    /* team */
    .flex-card-about {
        display: grid;
        grid-template-columns: repeat(2, 300px);
    }
    /* FAQ SECTION */
    .grid-faq {
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: var(--spacing-small);
    }    
    /* PRICING SECTION */
    .pricing-container {
        row-gap: var(--spacing-large);
    }
    /* BLOG SECTION */
    .blog-container {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--spacing-large);
    }
    /* OUR SERVICE SECTION */
    .services-container-text,
    .services-container-text span {
        font-size: 2rem;
    }
    .title {
        font-size: 2.4rem;
    }
    .sub-title, 
    .phone-heading {
        font-size: 1.6rem;
    }
    .line {
        margin-left: 1.6rem;
    }
}
/*******************************/
/* BELOW 944px (Tablets)*/
/*******************************/
@media (max-width: 59rem) {
    html {
        /* 8px / 16px = 0.5 */
        font-size: 50%;
    }
    /* HEADER */
    .main-title-text {
        font-size: 5.2rem;
    }
    .title-row {
        height: 40px;
    }
    .title-second {
        height: 30px;
        margin-bottom: var(--spacing-medium);
    }
    .link {
        margin-top: var(--spacing-small);
    }
    /* HERO-SECTION */
    .text-9xl {
        font-size: 4.8rem;
        font-weight: 700;
    }
    .text-6xl {
        font-size: 3.6rem;
    }
    .text-4xl {
        font-size: 2rem;
    }
    .text-3xl {
        font-size: 2.2rem;
    }
    .text-2xl {
        font-size: 1.6rem;
    }
    .text-small {
        font-size: 1.6rem;
    }
    .tag {
        padding: 0.8rem;
    }
    .flex-tag {
        gap: 0.2rem;
    }
    /** General button styles **/
    .btn:link,
    .btn:visited {
        font-size: 1.6rem;
        padding: var(--spacing-small) var(--spacing-xsmall);
    }
    .btn--header:link,
    .btn--header:visited {
        font-size: 5.2rem;
    }
    /* FOOTER SECTION */
    .grid--footer {
        grid-template-columns: repeat(1, 1.5fr) repeat(3, 1fr);
        grid-template-columns: 225px 100px;   
        column-gap: var(--spacing-medium);    
    }
    .logo-col {
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .resources-col {
        grid-row: 2;
    }
    /* ABOUT SECTION */
    /* team */
    .flex-card-about {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: var(--spacing-large);
    }
    .team-card {
        width: 250px;
    }
    .stadistics-about {
        display: grid;
        grid-template-columns: repeat(2, 25rem);
        gap: var(--spacing-large);
    }
    .stadistics-numbers {
        width: 25rem;
    }
    /* OUR SERVICES SECTION */
    /** Samsung phone **/
    .flex-video {
        gap: var(--spacing-xl);
    }
    .phone-container {
        width: 250px;
    }
    .device-container {
        position: relative;
        width: 200px;
        height: auto;
    }
    .device-video {
        position: absolute;
        top: 1%; 
        left: 4%;
        object-fit: cover;
        z-index: 1;
        border-radius: 10px;
        width: 207px;
        height: 457px;
        overflow: hidden;
    }
    .device-image {
        position: relative;
        width: 100%;
        width: 227px;
        height: auto;
        height: 462px;
        z-index: 2;
    }
    .phone-width {
        width: 223px;
    }
    .carousel-controls {
        position: absolute;
        bottom: 100px;
        left: 50%;
    }
    .circle-indicator {
        width: 102px;
        height: 102px;
    }
    .circle-indicator::before {
        width: 90px;
        height: 90px;
    }
    /** Estilos para los AirPods **/
    .airpods-device {
        position: absolute;
        top: -55px;
        right: -25px;
        width: 20rem; 
        z-index: 3; /* detrás del iPhone */
    }
    /** Iphone phone **/
    .iphone-container {
        max-width: 100%;
        position: relative; /* Para posicionar los AirPods detrás */
        perspective: 1000px;
    }
    .iphone-device {
        width: 32.5rem;
        height: auto;
        display: block;
        position: relative;
        z-index: 4;
        transform-style: preserve-3d;
        transform: rotateX(15deg) rotateY(-15deg);
    }
    /* PRICING SECTION */
    .pricing-features p {
        font-size: 1.6rem;
        line-height: 125%;
        color: var(--color-neutral500);
    }
    /* FAQ SECTION */
    .grid-heading-secondary {
        grid-template-columns: 1fr;
        justify-items: start;
    }
    .grid-faq {
        grid-template-columns: 1fr;
        justify-items: start;
        row-gap: var(--spacing-small);
    }    
}
/*******************************/
/* BELOW 644px (Smartphones)*/
/*******************************/
@media (max-width: 40.25rem) {
    .cursor {
        display: none;
    }
    .text-9xl {
        font-size: 4.2rem;
        font-weight: 700;
    }
    .text-5xl {
        font-size: 2.8rem;
    }
    .text-4xl {
        font-size: 1.8rem;
    }
    .text-3xl {
        font-size: 2rem;
    }
    .text-2xl {
        font-size: 1.4rem;
    }
    /* HEADER */
    .main-title-text {
        font-size: 4.2rem;
    }
    .title-row {
        height: 30px;
    }
    .title-second {
        height: 25px;
    }
    .main-description {
        font-size: 1.8rem;
    }
    .logo {
        height: 3.0rem;
    }
    .header {
        padding: var(--spacing-small) var(--spacing-xl);
    }
    .menu-container {
        padding-left: 2rem;
    }
    .menu-item a {
        font-size: 3.6rem;
    }
    .btn--header:link,
    .btn--header:visited {
        font-size: 3.2rem;
    }
    /* HERO SECTION */
    .story-content {
        width: 100%;
        padding: 8rem 2rem 10rem;
        justify-content: space-between;
    }
    /* OUR SERVICES SECTION */
    .services-info {
        display: grid;
        justify-content: center;
    }
    .service-block {
        min-height: 100px;
        margin-bottom: var(--spacing-large);
    }
    .line {
        height: 80px;
    }
    .controls {
        bottom: -1px;
        width: 75%;
        left: 15%;
        padding: var(--spacing-small) 0px var(--spacing-small) 0px;
    }
    /** Samsung phone **/
    .flex-video {
        grid-template-columns: 250px;
        gap: var(--spacing-4xl);
    }
    /* BLOG SECTION */
    .blog-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }
    /* ABOUT SECTION */
    /** team **/
    .flex-card-about {
        display: grid;
        grid-template-columns: repeat(2, 250px);
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .stadistics-about {
        grid-template-columns: 1fr;
    }
    .stadistics-numbers {
        width: 35rem;
    }
    /* CONTACT SECTION */
    .contact-icons {
        margin-top: var(--spacing-xl);
    }
    .copy-confirmation {
        left: 25%;
    }
    /* FOOTER SECTION */
    .grid--footer {
        grid-template-columns: repeat(1, 1.5fr) repeat(3, 1fr);
        grid-template-columns: repeat(3, 85px);
        column-gap: var(--spacing-medium); 
        row-gap: var(--spacing-xl);     
    }
    .logo-col {
        grid-column: 1 / -1;
        grid-row: 2;
    }
    .resources-col {
        grid-row: 1;
    }
    /* FAQ SECTION */
    .faq-illustration {
        width: 35rem;
        transform: translateY(-10px);
    }
    /* WORK SECTION */
    /** gallery **/
    .stadistics-work {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
/*******************************/
/* BELOW 320px (Smartphones)*/
/*******************************/
@media (max-width: 20rem) {
    .text-3xl {
        font-size: 1.6rem;
    }
    /* HEADER */
    .main-title-text {
        font-size: 3.6rem;
        line-height: 1;
        letter-spacing: -2.5px;
    }
    .title-row h1 {
        position: absolute;
        top: 0px;
    }
    .title-second h2 {
        top: -8px;
    }
    .main-text p {
        top: -2px;
    }    
    .link a {
        position: absolute;
        top: 25px;
    }
    .container--pad {
        padding:  0 0.5rem;
    }
    .container--faq {
        padding:  0 1.2rem;
        margin: 0;
    }
    /* FOOTER SECTION */
    .grid--footer {
        grid-template-columns: repeat(3, 55px);
        column-gap: var(--spacing-medium); 
        row-gap: var(--spacing-xl);     
    }
}